      <nav>
          <ul>
              <li><a href="{% url 'home' %}">Inicio</a></li>
              <li><a href="{% url 'listar_socios' %}">Socios</a></li>
              <li><a href="{% url 'listar_bibliotecarios' %}">Bibliotecarios</a></li>
              <li><a href="{% url 'listar_prestamos' %}">Préstamos</a></li>
              <li><a href="{% url 'listar_libros' %}">Libros</a></li>
              <li><a href="{% url 'listar_autores' %}">Autores</a></li>
              <li><a href="{% url 'listar_editoriales' %}">Editoriales</a></li>
              <li><a href="{% url 'listar_multas' %}">Multas</a></li>
          </ul>
      </nav>