{% extends 'base.html' %}

{% block content %}
<h1>Socios</h1>
<a href="{% url 'agregar_socio' %}" class="btn">Agregar Socio</a>
<hr>
{% for socio in socios %}
    <div class="card">
        <h2>{{ socio.nombre }} {{ socio.apellido }}</h2>
        <p><strong>Email:</strong> {{ socio.email }}</p>
        <p><strong>Teléfono:</strong> {{ socio.telefono }}</p>
        <a href="{% url 'ver_socio' pk=socio.pk %}" class="btn">Ver</a>
        <a href="{% url 'actualizar_socio' pk=socio.pk %}" class="btn">Actualizar</a>
        <a href="{% url 'borrar_socio' pk=socio.pk %}" class="btn btn-danger">Borrar</a>
    </div>
{% endfor %}
{% endblock %}
